{% extends 'base.html.twig' %}
{% block content %}
    <div class="example-wrapper">
        <h1>Hello {{ app.user }}!</h1>
        This friendly message is coming from LolBestPick!<br>
        You can begin by tell us what are the champions you have <a href="#">here</a>!
    </div>
{% endblock %}
